html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: medium;

}

a {
  position: relative;
  display: inline-block;
  
  color: royalblue;
  overflow: hidden;
}
a {
  /* Same as before */
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
}
a {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}
a {
  /* Same as before */
  transition: background-position 275ms ease;
}
a:hover {
  background-position: 0 100%;
}




* {
  box-sizing: border-box;
}


.fas.fa-home{
  font-size: 20px;
  color: darkcyan;
  

}




.footer__icons{
  align-items: center;
  justify-content: flex-end;
}


.footer__layout{
  display: flex;
  
  height: 50px;

}
